.device-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.device {
  background-color: #363941;
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;
  height: 80px;
  padding: 10px 40px 10px 10px;
}

.device.online {
  border-left-color: #33e733;
}

.device.offline {
  border-left-color: #ed4343;
}

.device.calibrating {
  border-left-color: #1782FF;
}

.device-info {
  flex: 3;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.device-info h2 {
  margin: 0 0 2px 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

.device-info p.status {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.device-info p.updated {
  margin: 2px 0 0;
  font-size: 14px;
  color: #8a8b8b;
  font-weight: normal;
}

.device-actions {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.device-actions .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.device-actions button {
  background-color: #272a30;
  color: #e5e5e5;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
  margin-top: 0px;
}

.device.offline .device-actions button {
  opacity: 0.4;
  pointer-events: none;
}

.device-actions button img {
  height: 24px;
  width: 24px;
}

.device-actions span {
  margin-top: -15px;
  font-size: 12px;
  color: #e5e5e5;
}

.device.offline .device-actions span {
  opacity: 0.4;
}

.network-info {
  flex: 4;
  font-size: 12px;
  text-align: right;
  color: #a8a8b8;
}

.remove-device button,
.add-device button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-device button img,
.add-device button img {
  width: 50px; /* Adjust size as needed */
  height: 20px;
  padding: 0px 0px 0px 50px;
}


.add-new-device {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 10px;
  border-left: 5px solid #2d3037;
  cursor: pointer;
  background-color: #2b2e35;
}

.add-new-device:hover {
  background-color: #363941;
}

.add-new-device .device-info {
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-new-device .device-info h2 {
  margin: 0 0 2px 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

.add-new-device .device-info p.status {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.ip-link {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  transition: all 0.2s ease;
}

.ip-link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
